-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "Idea" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Idea_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Analysis" (
    "id" TEXT NOT NULL,
    "ideaId" TEXT NOT NULL,
    "problem" TEXT NOT NULL,
    "customer" TEXT NOT NULL,
    "market" TEXT NOT NULL,
    "competitor" JSONB NOT NULL,
    "tech_stack" JSONB NOT NULL,
    "risk_level" TEXT NOT NULL,
    "profitability_score" INTEGER NOT NULL,
    "justification" TEXT NOT NULL,

    CONSTRAINT "Analysis_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Analysis_ideaId_key" ON "Analysis"("ideaId");

-- AddForeignKey
ALTER TABLE "Analysis" ADD CONSTRAINT "Analysis_ideaId_fkey" FOREIGN KEY ("ideaId") REFERENCES "Idea"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

